.cart-widget{
    display: flex;
}

.cart-widget .img-cart{
    width: 5em;
    padding: 1em;
}

.cart-widget .cart-span{
    display: contents;
    color: #f4f4f4;
    background-color: darkslateblue;
}