@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: space-around;    
}

nav div img{
    width: 7em;
    padding: 1em; 
       
}